<h2 class="show">Member Details</h2>

<table class="tableClasses">
  <tr>
    <td class="cell1">First Name:</th>
    <td class="cell2"><%= @member.first_name%></th>
  </tr>
  <tr>
    <td class="cell1">Last Name:</td>
    <td class="cell2"><%= @member.last_name  %></td>
  </tr>
  <tr>
    <td class="cell1">Membership Type:</td>
    <td class="cell2"><%= @member.member_type.capitalize %></td>
  </tr>
  <tr>
    <td class="cell1">Member #ID:</td>
    <td class="cell2"><%= @member.id %></td>
  </tr>
</table>

<form method="post" action ="/member/<%= @member.id %>/delete">
  <input type="submit" value="Delete member"/>
</form>
<form method="get" action ="/member/<%= @member.id %>/edit">
  <input type="submit" value="Edit details"/>
</form>
