<h2 class="show">Member Details</h2>

<p>First Name: <%= @member.first_name %> </p>
<p>Last Name: <%= @member.last_name %> </p>
<p>Membership Type: <%= @member.member_type %> </p>

<form method="post" action ="/@member/<%= @member.id %>/delete">
  <input type="submit" value="Delete member"/>
</form>
<form method="get" action ="/member/<%= @member.id %>/edit">
  <input type="submit" value="Edit details"/>
</form>
