<h2>Attendees for this <%= @gymclass.class_name %></h2>

<p><a href="/gymclass/<%= @gymclass.id %>"> << See class details</a></p>

<div class="attendee_list">
  <% for member in @attendees %>
  <table class="tableClasses">
    <tr>
      <th class="cell1">Name:</th>
      <th class="cell2"><%= member.fullName()%></th>
    </tr>
    <tr>
      <td class="cell1">Member #ID:</td>
      <td class="cell2"><%= member.id %></td>
    </tr>
  </table>
  <form method="post" action="/gymclass/<%= @gymclass.id %>/booking/<%= member.id %>/cancel">
    <input class="btn-action" type='submit' value="Cancel Booking">
  </form>
  <% end %>
</div>
