<h1>All classes listed below</h1>

<div class="gymclass_list">
  <p><a href="/gymclass/new">Create a new class</a></p>

  <% for gymclass in @gymclasses %>
  <h3>Class: <%= gymclass.class_name %> </h3>
  <p>Class #ID: <%= gymclass.id %> </p>
  <p>Instructor: <%= gymclass.instructor_name %></p>
  <p>Spaces left: <%= gymclass.empty_spaces %> </p>
  <ul>
    <li><a href="/gymclass/<%= gymclass.id %>">Show Details</a></li>
    <li><a href="/gymclass/<%= gymclass.id %>/booking">New Booking</a></li>
  </ul>
  <% end %>
</div>
