<h2 class="show">Class Details</h2>

<p>Class: <%= @gymclass.class_name %> </p>
<p>Instructor: <%= @gymclass.instructor_name %> </p>
<p>Spaces left: <%= @gymclass.empty_spaces %> </p>
<p>Class #ID: <%= @gymclass.id %> </p>

<form method="post" action ="/gymclass/<%= @gymclass.id %>/delete">
  <input type="submit" value="Delete gymclass"/>
</form>
<form method="get" action ="/gymclass/<%= @gymclass.id %>/edit">
  <input type="submit" value="Edit details"/>
</form>
